<!DOCTYPE html>
<html>

<title>Nicki Template</title>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/styles/style2.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="content">
	<div class="header">
		<h1>Nicole Kirstine Richter</h1>
		<p>Software Engineer and Student</p>
		<img src="/static/styles/nicole.jpg">
	</div>
	<div class="about">
		<h3>About Me</h3>
		<p>some text about me Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  	</div>
  	<div class="education1">
  		<h1>EDUCATION</h1>
  		<img src="/static/styles/cu.jpg">
  		<h3>University of Colorado Boulder</h3>
  		<p>some stuff about studying computer science blah blah blah blah consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consec</p>
     </div>
    <div class="education2">
    	<img src="/static/styles/lp.jpg">
    	<h3>Lewis-Palmer High School</h3>
    	<p>some stuff about studying computer science blah blah blah blah consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consec</p>
  	</div>
  	<div class="experienceheader">
  		<h1>EXPERIENCE</h1>
  	</div>
  	<div class="experience1">
  		<div class="lasp">
  			<img src="/static/styles/lasp.png">
  			<p>txtxtxtxtxxttxxtxt</p>
  		</div>
  		<div class="cu">
  			<img src="/static/styles/ucb.jpg">
  			<p>yayayayyayayayaya</p>
  		</div>

  	</div>

</div>

<div class="sidenav">
	<img src="/static/styles/nicole.jpg">
	<a href="#home" class="w3-bar-item w3-button w3-hover-white w3-padding-large">
		<i class="fa fa-home"></i>
		<p>HOME</p>
	</a>
	<a href="#education" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
		<i class="fa fa-mortar-board"></i>
		<p>EDUCATION</p>
	</a>
	<a href="#experience" class="w3-bar-item w3-button w3-hover-white w3-padding-large">
		<i class="fa fa-code"></i>
		<p>EXPERIENCE</p>
	</a>
	<a href="#skills" class="w3-bar-item w3-button w3-hover-white w3-padding-large">
		<i class="fa fa-cogs"></i>
		<p>SKILLS</p>
	</a>
	<a href="#honors" class="w3-bar-item w3-button w3-hover-white w3-padding-large">
		<i class="fa fa-trophy"></i>
		<p>HONORS</p>
	</a>
	<a href="#contact" class="w3-bar-item w3-button w3-hover-white w3-padding-large">
		<i class="fa fa-envelope"></i>
		<p>CONTACT</p>
	</a>
		
</div>

<div class="footer">
	<a href="https://www.linkedin.com/in/nicolerichter" target="_blank"><i class="fa fa-linkedin"></i></a>
	<a href="https://github.com/nickirichter" target="_blank"><i class="fa fa-github"></i></a>
	<a href="https://instagram.com/nickirichter" target="_blank"><i class="fa fa-instagram"></i></a>
	<a href="https://facebook.com/n.k.richter16" target="_blank"><i class="fa fa-facebook"></i></a>
	
</div>

</body>
</html>
